.header.SummaryActionHeader > button.floated.right {
	margin-top: 0px !important;
}

.SummaryAction .card {
	z-index: 9999;
}

.SummaryAction .card .content {
    padding-bottom: 6px !important;
}

.SummaryActionText .tox.tox-tinymce{
	height: 130px !important;
}
//26022021