.link {
  font-size: 1.25rem !important;
  color: #373b74 !important;
  font-weight: 700 !important;
}

.form-container {
  display: flex !important;
  flex-direction: column !important;
  background-color: white !important;
  margin: 1.5rem 8rem !important;
  border-radius: 1rem !important;
}

.page-title {
  text-align: left !important;
  margin: 0 !important;
  color: #373b74 !important;
  font-weight: bold !important;
  padding: 14px 2rem 0 2rem !important;
}

.page-title-customer {
  text-align: left !important;
  margin: 0 !important;
  color: #373b74 !important;
  font-size: 1.2rem;
  font-weight: bold !important;
  padding: 0 1rem !important;
}

.page-title-customer-result {
  text-align: left !important;
  color: #373b74 !important;
  font-weight: bold !important;
}

.page-title-customer-info {
  text-align: left !important;
  color: #373b74 !important;
  font-weight: bold !important;
}

.LightYellowContainer {
  background-color: rgba(255, 248, 54, 0.5) !important;
  padding: 0rem 2rem !important;
  border: 0px !important;
  box-shadow: none !important;
}

.LightGreyContainer {
  background-color: #dfdfdf !important;
  border-radius: 1.5rem !important;
  padding: 0rem 2rem !important;
  border: 0px !important;
  box-shadow: none !important;
}

.FullContainer {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.container-recheck {
  padding: 0 2rem 0 2rem !important;
}

.info-recheck {
  display: flex;
  justify-content: center;
  background-color: #e2efff;
  border-radius: 5rem;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0 0;
}

.padding-horizontal {
  padding: 1rem 2rem !important;
}

.container-recheck-submit {
  background-color: #fad3cb;
  border-radius: 5rem;
  padding: 1rem;
  display: flex;
}

.container-recheck-submit-disable {
  background-color: #fad3cb;
  border-radius: 5rem;
  padding: 1rem;
  display: flex;
}

.recheck-submit-pad {
  margin: auto !important;
  padding: 1rem !important;
}

.address-padd {
  padding: 0 2rem;
}
.container-flex-customer {
  display: flex;
}

.container-address {
  width: 60%;
  margin: 0 1rem;
}

.container-two-row {
  display: flex;
  width: 100%;
}

.container-country-city {
  flex-direction: row;
  margin-right: 0.5rem;
}

.container-zipcode-office {
  flex-direction: row;
}

.container-upload {
  margin: 0 1rem;
}

.grey-padding {
  padding: 1rem 0 !important;
}

.button-container-nospace {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
  margin: 1rem !important;
}

.button-inner-container {
  display: flex !important;
  flex-direction: row !important;
  width: fit-content !important;
}

.accordion-container {
  padding: 1rem 2rem !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center;
  cursor: pointer !important;
}
.margin-0 {
  margin: 0px !important;
}

.blacklist-yes {
  background-color: #fb7757;
  color: white;
  border-radius: 1rem;
  width: 80%;
  margin: auto;
}

.blacklist-no {
  background-color: #27d4a5;
  color: white;
  border-radius: 1rem;
  width: 80%;
  margin: auto;
}

.holdshipment-yes {
  background-color: #f6a52c;
  color: white;
  border-radius: 1rem;
  width: 55%;
  margin: auto;
}

.holdshipment-no {
  background-color: #656dd1;
  color: white;
  border-radius: 1rem;
  width: 55%;
  margin: auto;
}

.matching {
  background-color: #ffd500;
  color: #55637a;
  border-radius: 1rem;
  width: 100%;
  margin: auto;
}

//NPWP Card
.container-npwp {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-npwp {
  height: 10rem;
  max-width: 15rem;
  width: 100%;
  border: #8d8c8c solid 2px;
  border-style: dashed;
  border-radius: 0.5rem;
  position: relative;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-reuploud {
  position: absolute;
  background-color: #656dd1;
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 0px #00000040;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  cursor: pointer;
  font-size: 0.8rem;
}

.label-pic {
  color: #55637a;
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 767px) {
  .FullGrid767 {
    width: 100%;
  }
}
