.Header Field {
  color: #cecdf7 !important;
}
.Header {
  background-color: #9d9aef !important;
  padding: 0;
  border: 0 !important;
}

.textGrey {
  color: #a0a8b3 !important;
}

.bgPuple {
  background-color: #9d9aef !important;
}
.labelRounded20 {
  border-color: #9d9aef !important;
  border-radius: 20px !important;
  color: #fff !important;
}

.gridContentPayung {
  padding-top: 12px !important;
}

.headerContentPayung {
  font-weight: unset !important;
  margin-bottom: 0.5rem !important;
  padding-top: 3px !important;
  color: #a0a8b3 !important;
}
