.ViewLabel.ReadOnly > .field > input {
    border: 0 !important;
    cursor: default !important;
    color: #55637A !important;
    background-color: transparent !important;
    padding: 0.2em !important;
    font-size: 1.75rem !important;
    font-weight: normal !important;
  }
//eps 26092022
.ui.modal > .content {
	padding: 1.07123rem;
}