.borderless {
    border: 0px !important;
    border-radius: 0 0 0.785714rem 0.785714rem !important;
}

.ui.header.PoLabel .field > label {
    color: #CECDF7 !important;
}

.WhiteNote .LabelNameLabel h3 {
    color: white !important;
}
//05072022
.SoNumber {
    h3 {
        font-size: 1.4123rem !important;
    }
}
//end 05072022