.AssignCBV {
    background-color: #656DD1 !important;
}
.nodata {
    color: grey;
    text-align: center;
}

.headerTabel {
    background-color:#3F3F3F !important
}

.tableCell {
    background-color: #656DD1 !important;
    color: white !important;
}

.nodata {
    color: grey;
    text-align: center;
}

td small {
    color: #cdcdcd;
}
.awsTableBilling {
    td:nth-child(1) {
        width: 2.5123% !important;
    }
    td:nth-child(2) {
        width: 11.212% !important;
    }
    td:nth-child(3) {
        width: 6.391% !important;
    }
    td:nth-child(4) {
        width: 12.72% !important;
    }
    td:nth-child(5) {
        width: 11.081% !important;
    }
    td:nth-child(6) {
        width: 4.143% !important;
    }
    td:nth-child(7) {
        width: 6.191% !important;
    }
    td:nth-child(8) {
        width: 4.279% !important;
    }
    td:nth-child(9) {
        width: 15.379% !important;
    }
    td:nth-child(10) {
        width: 13.879% !important;
    }
}