.borderless {
    border: 0px !important;
    border-radius: 0 0 20px 20px !important;
    background-color: #f2f2f2!important;
}

.ui.header.PoLabel .field > label {
    color: rgb(103, 98, 98)!important;
}

.WhiteNote .LabelNameLabel h3 {
    color: rgb(103, 98, 98) !important;
}

.Header Field {
    color: rgb(103, 98, 98) !important;
}
.Header {
    background-color: #9D9AEF !important;
    padding: 0;
    border: 0 !important;
    border-radius: 20px 20px 0px 0px !important ;
    color: #fff !important;
}
.Subheader {
    color: #fff !important;
}

.HeaderPreventive {
    background-color: #faa498 !important;
    padding: 0;
    border: 0 !important;
    border-radius: 20px 20px 0px 0px !important ;
    color: #fff !important;
}