.gridStatusPMO {
  
  .three.wide.column.ItemStatusPMO{
    width: 210px !important;
    margin: 2px 4px;
  }
  
  .three.wide.column.ItemStatusPMODetail{
    width: 290px !important;
    margin: 2px 4px;
  }


  .ItemStatusPMO,.ItemStatusPMODetail {
    border-radius: 10rem;
    padding: .8rem;

    .row.row-item-status-pmo {
        padding: 10px;
      }

    .middle.aligned.column.col-icon {
      width: 50px !important;
      overflow: hidden;
      padding: 0 !important;
    }

    .left.aligned.middle.aligned.column.ph-05r.width-140 {
      width: 140px !important;
    }
    .left.aligned.middle.aligned.column.ph-05r.width-200 {
      width: 200px !important;
    }

    h2 {
      line-height: unset;
      margin-top: 4px !important;
      margin: 0 -2px 0 0;
    }

    h5 {
      margin: 0;
    }

    span {
      font-weight: normal;
      font-size: small;
    }

    i.circular.icon {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.ItemStatusPMO,.ItemStatusPMODetail {
  box-sizing: border-box;
  overflow: hidden;
  
  i.circular.icon {
    background-color: #ffffff50
  }

  .text-black{
    color: #55637A;
  }

  .text-black-900{
    color: #55637A90;
  }

  .text-white{
    color: #FFFFFF;
  }

  .text-white-900{
    color: #FFFFFF90;
  }

  .icon-gray{
    color: #D3D7D7;
  }
  .icon-purple2{
    color: #9D9AEF;
  }
  .icon-yellow{
    color: #FFD64F;
  }
  .icon-green{
    color: #27D4A5;
  }
  .icon-purple1{
    color: #D389DA;
  }
  .icon-brown{
    color: #6C6C6C;
  }
  .icon-blue{
    color: #656DD1;
  }
  .icon-red{
    color: #F97452;
  }
}

.bg-purple2{
  background-color: #9D9AEF;
}
.bg-yellow{
  background-color: #FFD64F;
}
.bg-green{
  background-color: #27D4A5;
}
.bg-purple1{
  background-color: #D389DA;
}
.bg-brown{
  background-color: #6C6C6C;
}
.bg-blue{
  background-color: #656DD1;
}
.bg-red{
  background-color: #F97452;
}
