.ui.modals .content > .ui.form > .header.activityReport {
  margin-top: 20px !important;
}

.headerProjectSummary,
.workHistoryHeader,
.workHistoryContent {
  position: relative;
  :global {
    h4 {
      position: relative;
    }
  }
}

.containerProjectSummary {
  position: relative;
  // margin-bottom: 16px !important;
}

.containerProjectSummary::before,
.headerProjectSummary::before,
.workHistoryHeader::before,
.workHistoryContent::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: -7px;
  width: 101.8%;
  background-color: #fffb9a;
}

.headerProjectSummary::before {
  top: -10px;
  bottom: -17px;
  left: -21px;
  width: 108.8%;
}

.workHistoryHeader::before {
  top: -10px;
  bottom: 0px;
  left: -6px;
  width: 101.8%;
}
.workHistoryContent::before {
  top: -1px;
  bottom: 0px;
  left: -6px;
  width: 101.8%;
}
.historyText {
  font-weight: 800;
}
.historyDate {
  font-weight: lighter;
}
.historyCreated {
  margin-left: 10px;
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
  opacity: 0.7;
}

.bgGrayRounded {
  background-color: #ebebeb;
  border-radius: 10px;
  margin: 5px 0;
  padding: 9px 0 !important;
}

.searchInputList {
  :global {
    .ui.grey.button,
    .ui.grey.buttons .button,
    .button.compact.icon.right {
      background-color: #767676 !important;
      color: #fff !important;
      text-shadow: none;
      background-image: none;
    }

    .ui.grey.button:hover,
    .ui.grey.buttons .button:hover,
    .button.compact.icon.right:hover {
      background-color: #838383 !important;
      color: #fff;
      text-shadow: none;
    }
  }
}

.MaxHSearch {
  :global {
    .results.transition.visible {
      max-height: 400px !important;
      overflow: auto;
    }
  }
}

.greySection {
  :global {
    background-color: #ebebeb;
    border-radius: 10px;
    padding: 9px !important;
    margin: 10px 0;
  }
}

.itemToggle {
  :global {
    display: flex !important;
    flex-direction: row !important;
    justify-content: end !important;

    span {
      color: #55637a;
      font-weight: bold !important;
    }
    span:nth-child(2) {
      margin-right: 4px;
      margin-left: 4px;

      .ui.toggle.checkbox label:before {
        top: 4px;
        height: 1rem;
      }
    }
  }
}
