
  body {
    font-family: Verdana, Arial;
    margin: 5px;
  }

  
  #reportViewer1 {
    position: absolute;;
    top: 70px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow: hidden;
    clear: both;
  }