.Header Field {
  color: #cecdf7 !important;
}
.Header {
  background-color: #9d9aef !important;
  padding: 0;
  border: 0 !important;
}

.textGrey {
  color: #a0a8b3 !important;
}

.bgPuple {
  background-color: #9d9aef !important;
}
.labelRounded20 {
  border-color: #9d9aef !important;
  border-radius: 20px !important;
  color: #fff !important;
}

.typeNumberTitle {
  color: #A0A8B3 !important;
  font-size: 14px !important;
  margin-top: 17px !important;
  font-weight: 100 !important;
  margin-bottom: 0px !important;
}