// eps22092022
.ui.red.circular.button, .ui.red.circular.buttons .button {
	background-color: #F97452;
	color: #fff;
	text-shadow: none;
	background-image: none;
}
.ui.red.circular.button:hover, .ui.red.circular.buttons .button:hover {
	background-color: #b32e2e;
}
.ui.blue.circular.button, .ui.blue.circular.buttons .button {
	background-color: #656DD1 !important;
	color: #fff;
	text-shadow: none;
	background-image: none;
}
.ui.blue.circular.button:hover, .ui.blue.circular.buttons .button:hover {
	background-color: #47409b !important;
}