.TopReturnDocument {
    background-color: #9d9aef !important;
    padding: 15px;
    border-radius: 5px;
    p {
        font-size: 18px;
        color: white;
        font-weight: bold;
    }
}

.WrappingRemakComben {
    background-color: #E8E8E8 !important;
    height: 100px;
    overflow-x: scroll;
    overflow-x: hidden;
}