.card-sales{
  background-color: #FFFB9A;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  padding: 8px 2.5rem !important;
}

.init-meeting-card{
  background-color: #EBEBEB;
  margin: 1.5rem 1.5rem !important;
  border-radius: 8px;
}

.row-yellow{
  position: relative;
}

.row-yellow::before{
    content: '';
    position: absolute;
    top: 0px;
    left: -7px;
    bottom: 0;
    width: 101.9%;
    background-color: #FFFB9A;
}