.TitleLabel {
    color: #55637A !important;
    font-weight: bolder !important;
    font-size: 18px !important;
}
.Label{
    font-weight: 700;
}

.red{
    color: red;
}

.mandatory{
    font-weight: 700;
    color: red;
}

// .headerTotalCustomerExp {
//     font-weight: unset !important;
//     margin-bottom: 0.5rem !important;
//     padding-top: 3px !important;
//     color: #a0a8b3 !important;
// }

.typeNumberTitle {
    color: #A0A8B3 !important;
    font-size: 14px !important;
    margin-top: 17px !important;
    font-weight: 100 !important;
    margin-bottom: 0px !important;
}