.item-opsi {
  background-color: #eaeded;
  position: sticky;
  top: 54px;
  z-index: 1;
}
.message-must-full {
  position: absolute !important;
  right: 15px;
  top: 47px;
  padding: 5px 26px !important;
}

a.see-all-my-team{
  display: inline-block;
  color: #ffffff;
  background-color: #5C62AF ;
  padding: 0.78571429em 1.5em 0.78571429em;
  border-radius: 8px;
}
