
.PMOTop{
  :global{
    thead {
      background-color: #3f3f3f !important;
    }
  }
}


.disableBtn {
  background-color: rgba(172, 172, 172, 0.205) !important;
}

.nodata {
  color: white;
  text-align: center;
}