.StickyBtnGrupPMO {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ui.StickyBtnGrupYellow>.ui.segment>a,
.ui.StickyBtnGrupYellowCheck>.ui.segment>a,
.ui.StickyBtnGrupYellowSubmit>.ui.segment>a {
  color: white !important;
}

.ui.segments.StickyBtnGrupYellow:not(.horizontal)>.segment:first-child {
  border-radius: 1.8rem 1.8rem 0 0 !important;
}

.ui.segments.StickyBtnGrupYellow:not(.horizontal)>.segment:last-child {
  border-radius: 0 0 1.8rem 1.8rem !important;
}


.ui.segments.StickyBtnGrupYellow {
  box-shadow: none !important;
  border: 0 !important;
  position: -webkit-sticky !important;
  position: sticky !important;
  display: flex;
}


.ui.StickyBtnGrupYellow>.ui.inverted.yellow.segment {
  background-color: #ffd64f !important;
  padding: 1.21rem !important;
  max-width: 50px;
  display: inline-flex;
}

.ui.BtnApprovalPMO,
.ui.StickyBtnSubmit {
  box-shadow: unset !important;
  position: relative;
  border: unset !important;
  z-index: 99;
  cursor: pointer;
}

.ui.BtnApprovalPMO > .ui.inverted.blue.segment,
.ui.StickyBtnSubmit > .ui.inverted.green.segment {
  padding: 1.21rem !important;
  max-width: 49px;
  max-height: 49px;
  display: inline-flex;
  flex-direction: column;
  border-radius: 50%;
  margin-bottom: 20px;
  h4 {
    position: absolute;
    bottom: -28px;
    font-size: 10px !important;
    font-weight: bold !important;
  }
}

.ui.BtnApprovalPMO > .ui.inverted.blue.segment {
  background-color: #F97452 !important;
  transition: 0.3s;
  h4 {
    left: 0px;
  }

  &:hover {
    cursor: pointer;
    background-color: #f97352be !important;
  }
}

.ui.BtnApprovalPMO.Diseble > .ui.inverted.blue.segment {
  background-color: #f97352be !important;
}

.ui.grid{
  .item-resubmit-pmo{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 10px 0;
    .icon{
      background-color: #FFD64F !important;
      display: flex;
      align-items: center;
      align-self: center;
      justify-content: center;
      width: 49px;
      height: 49px;
      border-radius: 50%;
    }
    h4.ui.header{
      font-size: 10px !important;
      font-weight: bold !important;
      margin-top: 0px;
    }
  }
  
  .item-resubmit-pmo:hover{
    cursor: pointer;
    .icon{
      opacity: .8;
    }
  }
}

.ui.StickyBtnSubmit > .ui.inverted.green.segment {
  background-color: #36e2d6 !important;
  transition: 0.3s;
  h4 {
    left: 3px;
  }

  &:hover {
    cursor: pointer;
    background-color: #1da0b5 !important;
  }
}
.ui.StickyBtn > .ui.segment > a,
.ui.BtnApprovalPMO > .ui.segment > a,
.ui.StickyBtnSubmit > .ui.segment > a {
  color: white !important;
}
