.wrapper-table-Attachment {
    overflow-x: auto;
    overflow-y: auto;
    height: 30vh;
    width: 100%;
    // scroll-snap-type: x mandatory;
    // -webkit-overflow-scrolling: touch;
  }
  //23092022
  .header .content, h4 > .content {
    color: #55637a !important;
    font-weight: bolder !important;
    font-size: 18px !important;
  }